---
import Socials from "../Socials.astro";
import HeaderLinks from "../HeaderLinks.astro";
---

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
        <img src="https://storage.hylia.dev/images/47033415ef4841d627d49d05058324e8.jpg" class="img-fluid" alt="Logo" width="40" height="32" style="border-radius: 50%; margin-right: 10px;">
        <span class="fs-4" style="color: #a1a2a3;">withervt</span>
      </a>

      <ul class="nav nav-pills">
        <HeaderLinks liClass="nav-item" aClass="nav-link" aStyles="color: #79889e;" links={[
            { text: "Home", href: "/" },
            { text: "Blog", href: "/blog" },
            { text: "Venting", href: "/vent" },
            { text: "Documentation", href: "https://docs.hylia.dev" },
          ]}/>
      </ul>
    </header>
  </div>
