<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Maintanance</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/vendor/slick.css">
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/vendor/nice-select.css">
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/plugins/feature.css">
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/vendor/odometer.css">

    <!-- Style css -->
    <link rel="stylesheet" href="https://cafe.akenodev.xyz/assets/env/css/style.css">
</head>

<body class="template-color-1 nft-body-connect">

    <!-- comeing sooon area -->
    <div class="bg_image--1 bg_image maintanance-heignt" data-black-overlay="7">
        <div class="rn-comeing-soon-area ">
            <div class="container-fluid pt--40 pb--35 maintanance-plr text-center">
                <div class="maintanance-inner">
                    <div class="wrapper">
                        <p>We will Back Soon</p>
                        <h2>Website Is Under <span>Maintanance</span></h2>
                        <a href="https://site.akenodev.me" class="btn btn-primary btn-large mt--30">
                            <span class="btn-text">BackUp Site</span>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Top To Bottom Area  -->
</body>

</html>
