:root {
  --custom: #6f42c1;
}
.table-custom,
.table-custom > td,
.table-custom > th {
  background-color: #d7caee;
}
.table-hover .table-custom:hover {
  background-color: #c8b7e8;
}
.table-hover .table-custom:hover > td,
.table-hover .table-custom:hover > th {
  background-color: #c8b7e8;
}
.btn-custom {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;
}
.btn-custom:hover {
  background-color: #5e37a6;
  border-color: #59339d;
  color: #fff;
}
.btn-custom.focus,
.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 94, 202, 0.5);
}
.btn-custom.disabled,
.btn-custom:disabled {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;
}
.btn-custom:not(:disabled):not(.disabled).active,
.btn-custom:not(:disabled):not(.disabled):active,
.show > .btn-custom.dropdown-toggle {
  background-color: #59339d;
  border-color: #533093;
  color: #fff;
}
.btn-custom:not(:disabled):not(.disabled).active:focus,
.btn-custom:not(:disabled):not(.disabled):active:focus,
.show > .btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 94, 202, 0.5);
}
.btn-outline-custom {
  border-color: #6f42c1;
  color: #6f42c1;
}
.btn-outline-custom:hover {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;
}
.btn-outline-custom.focus,
.btn-outline-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.5);
}
.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  background-color: transparent;
  color: #6f42c1;
}
.btn-outline-custom:not(:disabled):not(.disabled).active,
.btn-outline-custom:not(:disabled):not(.disabled):active,
.show > .btn-outline-custom.dropdown-toggle {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #fff;
}
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.5);
}
.badge-custom {
  background-color: #6f42c1;
  color: #fff;
}
a.badge-custom:focus,
a.badge-custom:hover {
  background-color: #59339d;
  color: #fff;
}
a.badge-custom.focus,
a.badge-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.5);
  outline: 0;
}
.alert-custom {
  background-color: #e2d9f3;
  border-color: #d7caee;
  color: #3a2264;
}
.alert-custom hr {
  border-top-color: #c8b7e8;
}
.alert-custom .alert-link {
  color: #24153e;
}
.list-group-item-custom {
  background-color: #d7caee;
  color: #3a2264;
}
.list-group-item-custom.list-group-item-action:focus,
.list-group-item-custom.list-group-item-action:hover {
  background-color: #c8b7e8;
  color: #3a2264;
}
.list-group-item-custom.list-group-item-action.active {
  background-color: #3a2264;
  border-color: #3a2264;
  color: #fff;
}
.bg-custom {
  background-color: #6f42c1 !important;
}
a.bg-custom:focus,
a.bg-custom:hover,
button.bg-custom:focus,
button.bg-custom:hover {
  background-color: #59339d !important;
}
.border-custom {
  border-color: #6f42c1 !important;
}
.text-custom {
  color: #6f42c1 !important;
}
a.text-custom:focus,
a.text-custom:hover {
  color: #4e2d89 !important;
}
::-moz-selection {
  background-color: #6f42c1;
  color: #fff;
}
::selection {
  background-color: #6f42c1;
  color: #fff;
}
a:not(.btn) {
  color: #6f42c1;
}
a:not(.btn):focus,
a:not(.btn):hover {
  color: #4e2d89;
}
.color-scheme {
  color: #6f42c1;
}
.background-scheme {
  background-color: #6f42c1;
}
.btn.button-scheme {
  background-color: #6f42c1 !important;
  border: 1px solid #6f42c1 !important;
}
.btn.button-scheme:focus {
  background-color: #4e2d89 !important;
  border-color: #4e2d89 !important;
  box-shadow: none !important;
}
.btn.button-outline {
  background-color: transparent !important;
  border: 1px solid #6f42c1 !important;
  color: #222 !important;
}
.btn.button-outline:focus {
  background-color: rgba(34, 34, 34, 0.05) !important;
  border-color: #4e2d89 !important;
  box-shadow: none !important;
}
.lightbox-wrapper
  .lightbox-content
  .section-heading.page-heading
  > .animated-bar {
  background-color: #6f42c1;
}
.info-section .info-content .content-subtitle {
  color: #6f42c1;
}
.info-section .info-content .content-follow li a:focus,
.info-section .info-content .content-follow li a:hover {
  color: #6f42c1;
}
.services-section .single-service:hover {
  border-bottom-color: #6f42c1;
}
.services-section .single-service .service-icon {
  color: #6f42c1;
}
.testimonials-section .single-review .review-icon {
  color: #6f42c1;
}
.pricing-section .single-plan .plan-icon {
  color: #6f42c1;
}
.resume-section .resume-item {
  border-left-color: #6f42c1;
}
.resume-section .resume-item .item-arrow:before {
  background-color: #6f42c1;
}
.resume-section .resume-item .item-arrow:after {
  border-left-color: #6f42c1;
}
.skills-section .single-skill .skill-progress .progress-bar {
  background-color: #6f42c1;
}
.portfolio-section .filter-control > li.tab-active,
.portfolio-section .filter-control > li:hover {
  color: #8159c9;
}
.portfolio-section .filter-control > li.tab-active:before,
.portfolio-section .filter-control > li:hover:before {
  background-color: #8159c9;
}
.portfolio-section
  .portfolio-grid
  .portfolio-wrapper
  .item-content
  .content-more {
  color: #6f42c1;
}
.blog-section .single-post .post-img .content-date {
  background-color: #6f42c1;
}
.contact-section .contact-form .form-group .form-control:focus {
  border-bottom: 1px solid #8c68ce;
}
.contact-section .contact-info .list-info .info-icon i {
  color: #6f42c1;
}
