---
---

<section class="skills-section section mx-auto mb-0">
    <h3 class="section-heading mb-4">Skills &amp; Experiences</h3>
    <div class="row tech-list justify-content-center align-items-center">
        <div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="C" title="C"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="C#" title="C#"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" title="JavaScript"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" alt="Markdown" title="Markdown"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node.js" title="Node.js"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" title="TypeScript"></div>

<div class="clearfix"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/debian/debian-original.svg" alt="Debian" title="Debian"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" title="GitHub"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git" title="Git"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux" title="Linux"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" alt="MongoDB" title="MongoDB"></div>
<div class="icon-item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img loading="lazy" class="rounded" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="Visual Studio Code" title="Visual Studio Code"></div>

       
    </div>
    <div class="section-cta text-center mt-4">
        <a class="btn btn-secondary theme-btn-cta" href="/resume">View Resume <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
    </div>
    
    <div class="skill-blocks py-5 row justify-content-center">
        <div class="item col-md-6 col-lg-4 text-md-center">
            <div class="item-icon-holder mx-md-auto"><i class="item-icon bi bi-terminal"></i></div>
            <h3 class="item-title mb-3">Web Development</h3>
            <div class="item-desc">
                Discover my web expertise! I build and optimize websites for your success.
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 text-md-center">
            <div class="item-icon-holder mx-md-auto"><i class="item-icon bi bi-discord"></i></div>
            <h3 class="item-title mb-3">Discord Bot Development</h3>
            <div class="item-desc">
                I will create a bot for your server to make your life easier.
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 text-md-center">
            <div class="item-icon-holder mx-md-auto"><i class="item-icon bi bi-twitch"></i></div>
            <h3 class="item-title mb-3">Twitch Bot Development
            </h3>
            <div class="item-desc">
                I will create a bot for your channel to make your life easier. Moderation and more.
            </div>
        </div>
    </div>
    <div class="section-cta text-center">
        <a class="btn btn-secondary theme-btn-cta" href="mailto:dev@hylia.dev">Get In Touch <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
    </div>
</section>