/* KeyFrame Events */

@keyframes blurData {
  0% {
      filter: blur(5px);
  }
  100% {
      filter: blur(5px);
  }
}

@keyframes unBlurData {
0% {
    filter: blur(0px);
}
100% {
    filter: blur(0px);
}
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(100%);
  }
}


/* !! KeyFrame Events !! */


/* Variables */

.invisableImage {
    display: none;
    pointer-events: none;
}

.cimage {
  pointer-events: none;
}


.publicPath {
  color: white;
}

.sensitveData {
    animation: blurData 1s infinite;
}


.sensitveData:hover {
  /* Slowly Remove the animation */
  animation: unBlurData 1s infinite;

}