<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E85TLW0B9F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E85TLW0B9F');
</script>

  <!-- Page Title Here -->
  <title>Home | Hylia</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="Just my personal website, made with love.">

  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@vthylia">
  <meta name="twitter:creator" content="@vthylia">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Welcome to the official website of Hylia">
  <meta name="twitter:description" content="Just my personal website, made with love.">
  <meta name="twitter:image" content="/img/backgroundAsset.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="https://hylia.dev">
  <meta property="og:title" content="Welcome to the official website of Hylia">
  <meta property="og:description" content="Just my personal website, made with love.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/backgroundAsset.jpg">
  <meta property="og:image:secure_url" content="/img/backgroundAsset.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="./fonts/montserrat/stylesheet.css">
  <link rel="stylesheet" href="./fonts/roboto/stylesheet.css">
  <link rel="stylesheet" href="./fonts/playfair/stylesheet.css">
  <link rel="stylesheet" href="./fonts/ionicons.min.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/vendor/swiper.min.css">
  <link rel="stylesheet" href="./js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="./css/style-color2.css">

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>

  <!-- BEGIN OF site header Menu -->
  <header class="page-header navbar page-header-alpha scrolled-white menu-left logo-center topmenu-right">

    <!-- Begin of menu icon toggler -->
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
      <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>
    <!-- End of menu icon toggler -->

    <!-- Begin of logo/brand -->
    <a class="navbar-brand" href="https://www.goddessanime.com/api/user/547923574833545226/avatar">
      <span class="logo">
        <img class="light-logo" src="https://www.goddessanime.com/api/user/547923574833545226/avatar" alt="Logo" style="width: 150px; height: 150px; border-radius: 50%;">
      </span>
    </a>
    <!-- End of logo/brand -->

    <!-- begin of menu wrapper -->
    <div class="all-menu-wrapper" id="navbarMenu">
      <!-- Begin of top menu -->
      <nav class="navbar-topmenu d-none d-lg-flex">
        <ul class="navbar-nav navbar-nav-menu">
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discord">Discord</a>
          </li>
        </ul>
      </nav>
      <!-- End of top menu -->

      <!-- Begin of hamburger mainmenu menu -->
      <nav class="navbar-mainmenu">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discord">Discord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://terminal.hylia.dev/">Terminal</a>
          </li>
        </ul>
      </nav>
      <!-- End of hamburger mainmenu menu -->

      <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
      <nav class="navbar-sidebar icon-only">
        <ul class="navbar-nav" id="qmenu">
          <li class="nav-item" data-menuanchor="home">
            <a href="#home">
              <i class="bi bi-house"></i>
              <span class="txt">Home</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="projects">
            <a href="#projects">
              <i class="bi bi-kanban"></i>
              <span class="txt">Projects</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="terminal">
            <a href="https://terminal.hylia.dev/">
              <i class="bi bi-terminal-fill"></i>
              <span class="txt">Terminal</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of sidebar nav menu -->

    </div>
    <!-- end of menu wrapper -->

  </header>
  <!-- END OF site header Menu-->

  <!-- BEGIN OF page cover -->
  <div class="page-cover">
    <!-- Cover Background -->
    <div class="cover-bg bg-img" data-image-src="https://wallpapercave.com/wp/wp2760959.gif"></div>

    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="rgba(2, 3, 10, 0.7)"></div>

  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage main-anim scroll-slideshow" id="mainpage">

    <!-- Begin of home section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive main-home section-centered"
    data-section="home">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- content -->
        <div class="section-content anim">
          <div class="row justify-content-center c-wrapper">
            <div class="col-12 col-lg-12 text-center">
              <!-- title and description -->
              <div class="title-desc mb-0">
                <h1 class="display-4 display-title home-title anim-blur anim-2 mt-4 mb-4">Hylia
                  <span class="lite"></span>
                </h1>
              </div>

              <!-- Begin of Home Action button -->
              <div class="btns-action anim-4">
                <div class="btns-divided">
                  <div class="row no-gutters btns-divided">
                    <div class="col-12 col-sm-6 side left-side">
                      <a class="btn btn-divided btn-left" href="#about">
                        <span class="b-title">About me</span>
                        <span class="b-subtitle">Who am I?</span>
                      </a>
                    </div>
                    <div class="col-12 col-sm-6 side right-side">
                      <a class="btn btn-divided btn-right" href="#projects">
                        <span class="b-title">Projects</span>
                        <span class="b-subtitle">What I do?</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Home Action button -->
            </div>
          </div>
        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Learn more about me</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of home section -->

    <!-- Begin of title section -->
    <div class="section section-description section-title-layout fp-auto-height-responsive"
    data-section="about">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- title -->
        <div class="section-title decor decor-anim text-center">
          <h5 class="title">About me</h5>
        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of title section -->
    <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive fp-auto-height-responsive section-about-1"
    data-section="about-us">

      <div class="section-cover-full bg-img bg-pos-right cover-anim" data-image-src="./img/sections/bg-2.png"></div>
      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">

        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="col-12 col-md-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 display-title anim-2 decor">Programming</h2>
                <p class="anim-3">As a programmer with a passion for coding, I have dedicated my career to mastering the art of programming. With extensive experience in multiple programming languages and frameworks, I have a deep understanding of the intricacies involved in writing efficient and effective code. In addition to my professional experience, I am currently furthering my education through the Penn Foster Academy, where I am studying advanced programming techniques and honing my skills in emerging technologies.

                  My interest in programming is not just limited to the technical aspects of coding. I am constantly seeking out new challenges and opportunities to push the boundaries of what is possible with code. Whether it's building complex software applications or designing innovative solutions to business problems, I am always looking for ways to leverage my programming skills to make a positive impact on the world.
                  
                  Through my combination of hands-on experience and ongoing education, I am well-equipped to take on any programming challenge that comes my way. Whether it's developing new software solutions, optimizing existing code, or troubleshooting complex technical issues, I have the skills and expertise needed to get the job done.</p>
              </div>
            </div>

          </div>
        </div>



        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Mission</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->
    <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive fp-auto-height-responsive section-about-2"
    data-section="mission">

      <div class="section-cover-full bg-img bg-pos-left cover-anim" data-image-src="./img/sections/bg-1.png"></div>

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">

        <!-- content -->
        <div class="section-content anim">
          <div class="row justify-content-md-end">
            <div class="col-12 col-md-6 text-left pl-lg-0">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 display-title anim-2 decor">Analytics</h2>
                <p class="anim-3">As a professional in the digital marketing industry, I have honed my skills in the fields of analytics and web SEO. With a deep understanding of data analysis, I am able to turn raw information into actionable insights that help clients make informed decisions about their online presence. Additionally, I am well-versed in the latest SEO strategies and techniques, which allows me to optimize websites and improve their visibility in search engines. By combining my expertise in analytics and web SEO, I am able to help businesses achieve their digital marketing goals and drive measurable results.</p>
              </div>
            </div>

          </div>
        </div>



        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->


    <!-- Begin of title section -->
    <div class="section section-description section-title-layout fp-auto-height-responsive"
    data-section="services">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- title -->
        <div class="section-title decor decor-anim text-center">
          <h5 class="title">Services</h5>
        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of title section -->
    <!-- Begin of list services/features section -->
    <div class="section section-list-feature fp-auto-height-responsive fp-auto-height-responsive"
    data-section="services-list">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- content -->
        <div class="section-content anim">

          <!-- service list -->
          <div class="list-items row">
            <div class="col-12 col-lg-4">
              <a class="item media media-service" href="#">
                <div class="media-body">
                  <h4 class="">Coding</h4>
                  <p>I do Discord bots, websites, and more!</p>
                </div>
              </a>
            </div>
            <div class="col-12 col-lg-4">
              <a class="item media media-service" href="./#">
                <div class="media-body">
                  <h4 class="">Analytics</h4>
                  <p>I do analytics for websites and more!</p>
                </div>
              </a>
            </div>
            <div class="col-12 col-lg-4">
              <a class="item media media-service" href="./#">
                <div class="media-body">
                  <h4 class="">Moderation</h4>
                  <p>I currently moderate over <b>5</b> servers!</p>
                </div>
              </a>
            </div>
          </div>
          <!-- end of service list -->
        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of list services/features section -->

    <!-- Begin of title section -->
    <div class="section section-description section-title-layout fp-auto-height-responsive"
    data-section="projects">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- title -->
        <div class="section-title decor decor-anim text-center">
          <h5 class="title">Projects</h5>
        </div>

        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of title section -->
    <!-- Begin of projects/two-column section -->
    <div class="section section-twoside fp-auto-height-responsive fp-auto-height-responsive content-white"
    data-section="projects-page-1">
      <!-- Begin of a side : left-->
      <div class="section-side side-left side-anim">
        <div class="section-cover mask-black bg-img" data-image-src="./img/projects/Screen+Shot+2021-03-09+at+10.14.39+AM.png">
        </div>
        <div class="section-wrapper">
          <!-- content -->
          <div class="section-content anim">
            <div class="row">
              <div class="col-12 text-left text-white">
                <!-- title and description -->
                <div class="title-desc">
                  <h2 class="display-3 display-title anim-2 decor">File Organizer</h2>
                  <p class="anim-3">TThis is a Python script that organizes files in a directory based on their file type.</p>
                </div>

                <!-- Action button -->
                <div class="btns-action anim-4">
                  <a class="btn btn-outline-white" href="https://github.com/0xhylia/file-organizer">
                    <span class="text">View Project</span>
                    <span class="icon">
                      <i class="arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- End of a side-->

      <!-- Begin of a side : right-->
      <div class="section-side side-right side-anim">
        <div class="section-cover mask-black bg-img" data-image-src="https://external-preview.redd.it/IekkI4j1jacT3k9Nx4mICt96Z_qnGpuVD3jUPnnJhNY.jpg?auto=webp&amp;s=adbb5ede3b47b5bd2f29cf89003e204e710e12b2">
        </div>
        <div class="section-wrapper">
          <!-- content -->
          <div class="section-content anim">
            <div class="row">
              <div class="col-12 text-left text-white">
                <!-- title and description -->
                <div class="title-desc">
                  <h2 class="display-3 display-title anim-2 decor">Goddess Anime</h2>
                  <p class="anim-3">Goddess Anime Cards is a free-to-play anime trading card game. Collect cards and trade with other players.</p>
                </div>

                <!-- Action button -->
                <div class="btns-action anim-4">
                  <a class="btn btn-outline-white" href="https://goddessanime.com">
                    <span class="text">View Project</span>
                    <span class="icon">
                      <i class="arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- End of a side-->

      <!-- Begin of section wrapper -->
      <div class="section-wrapper">
        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Scroll</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of projects/two-column section -->


  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="page-footer d-none d-lg-block">

    <!-- Right content -->
    <div class="footer-right">
      <ul class="social">
        <li>
          <a href="https://www.github.com/0xhylia">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/vthylia">
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.reddit.com/user/AethericNebula">
            <i class="bi bi-reddit"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- END OF site footer -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./js/slick/slick.min.js"></script>

  <!-- All vendor scripts -->
  <script src="./js/vendor/scrolloverflow.min.js"></script>
  <script src="./js/vendor/all.js"></script>
  <script src="./js/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="./js/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="./js/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="./js/main.js"></script>


</body>

</html>
