.github-icon {
    fill: #181717;
}

.spotify-icon {
    fill: #1DB954;
}

.snapchat-icon {
    fill: #FFFC00
}

.steam-icon {
    fill: #000000;
}

.youtube-icon {
    fill: #FF0000;
}

.discord-icon {
    fill: #5865F2;
}

.instagram-icon {
    fill: #C13584;
}

.facebook-icon {
    fill: #1877F2;
}

.tiktok-icon {
    fill: #000000;
}

.twitch-icon {
    fill: #9146FF;
}

.twitter-icon {
    fill: #1DA1F2;
}

.onlyfans-icon {
    fill: #00AFF0;
}