---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ClientCards from "../components/ClientCards.astro";
import Skills from "../components/Skills.astro";
import PortfolioCards from "../components/PortfolioCards.astro";
---

<Layout
  title="char32 | Home"
  description="Hello, I’m Stella, a developer specializing in creating Discord bots and open-source solutions at Hyperstar. Additionally, I identify as a TransFemale, using She/Her pronouns."
>
  <div id="snackbar" class="snackbar d-none"></div>
  <section
    class="home-area element-cover-bg video-variant"
    id="home"
    style="background-image:url(https://assets.hylia.dev/assets/images/m91rl9.png)"
  >
    <div
      class="player"
      id="homeVideo"
      data-property="{videoURL:'https://www.youtube.com/watch?v=HSOtku1j600',containment:'#home',autoPlay:true, mute:false, showControls:false, stopMovieOnBlur:false, showYTLogo: false}"
    >
    </div>
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name cd-headline clip" id="main_name">char32</h1>
          <h4 class="cd-headline clip home-headline">
            I’m a <span class="cd-words-wrapper single-headline"
              ><b class="is-visible">Developer</b><b>Vtuber</b><b>Freelancer</b
              ><b>Gamer</b></span>
          </h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li>
            <a href="https://x.com/HyperHylia/" target="_blank"
              ><i class="icon bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="https://git.hylia.dev/" target="_blank"
              ><i class="icon bi bi-github"></i></a>
          </li>
          <li>
            <a href="https://twitch.com/0xhylia" target="_blank"
              ><i class="icon bi bi-twitch"></i></a>
          </li>
          <li>
            <a href="https://steamcommunity.com/id/hyliavt/" target="_blank"
              ><i class="icon bi bi-steam"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close="">
          <span class="btn-line"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know me</p>
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img">
                  <img
                    class="img-fluid img-thumbnail"
                    src="https://assets.hylia.dev/assets/images/47033415ef4841d627d49d05058324e8.jpg"
                    alt="About Picture"
                    style="border-radius: 50%;"
                  />
                </div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Who am i?</h2>
                    <h6 class="content-title">
                      I'm Stella, I'm a developer and a vtuber based in the
                      United States.
                    </h6>
                    <div class="content-description">
                      <p>
                        I'm a developer and a vtuber based in the United States,
                        I have been building and developing software since I was
                        12 years old. I have gotten into the world of vtubing
                        since 2022.
                      </p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info">
                          <span>Name:</span>
                          <p>Stella</p>
                        </div>
                        <div class="col-12 col-md-6 single-info">
                          <span>Email:</span>
                          <p>
                            <a href="mailto:dev@hylia.dev">dev@hylia.dev</a>
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info">
                          <span>Gender:</span>
                          <p>
                            She/Her <img
                              src="https://assets.hylia.dev/assets/images/trans.png"
                              alt="TransGender | She/Her"
                              title="Transgender | She/Her"
                              style="width: 20px;"
                            />
                          </p>
                        </div>
                        <div class="col-12 col-md-6 single-info">
                          <span>From:</span>
                          <p>Waycross, Georgia</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center">
                      <a
                        class="btn content-download button-main button-scheme"
                        href="https://github.com/0xhylia"
                        role="button">Github</a
                      >
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item">
                          <a href="https://x.com/HyperHylia/" target="_blank"
                            ><i class="icon bi bi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://git.hylia.dev/" target="_blank"
                            ><i class="icon bi bi-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://twitch.com/0xhylia" target="_blank"
                            ><i class="icon bi bi-twitch"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="https://steamcommunity.com/id/hyliavt/"
                            target="_blank"><i class="icon bi bi-steam"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Services section-->
            <div class="services-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">
                      Services i offer to my clients
                    </p>
                    <h2 class="section-title">My Services</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <ServiceCard
                  title="Web Development"
                  description="Discover my web expertise! I build and optimize websites for your success."
                  icon="bi bi-globe2"
                />
                <ServiceCard
                  title="Discord Bot Development"
                  description="I will create a bot for your server to make your life easier."
                  icon="bi bi-discord"
                />
                <ServiceCard
                  title="Technical Support"
                  description="I will help you with any technical issues you may have."
                  icon="bi bi-headset"
                />
                <ServiceCard
                  title="Twitch Bot Development"
                  description="I will create a bot for your channel to make your life easier. Moderation and more."
                  icon="bi bi-twitch"
                />
              </div>
            </div>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">
                      What my clients think about me
                    </p>
                    <h2 class="section-title">Testimonials</h2>
                  </div>
                </div>
              </div>
              <div class="my-slider">
                <ClientCards
                  name="Jessica"
                  role="Github Contributor"
                  image="77359021"
                  review="I have worked with stella on a few projects, and she is a great developer. She is very helpful and is always willing to help. I would highly recommend her to anyone who is looking for a developer."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close="">
          <span class="btn-line"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my Resume</p>
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">
                      My level of knowledge in some tools
                    </p>
                    <h2 class="section-title">My Skills</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <Skills name="HTML/CSS" precentage="95" />
                  <Skills name="JavaScript" precentage="90" />
                  <Skills name="Python" precentage="90" />
				  <Skills name="C++" precentage="89" />
                </div>
                <div class="col-12 col-md-6">
                  <Skills name="Astro" precentage="90" />
                  <Skills name="Express" precentage="95" />
                  <Skills name="TypeScript" precentage="80" />
                  <Skills name="C" precentage="90" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close="">
          <span class="btn-line"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">
                    Showcasing some of my best work
                  </p>
                  <h2 class="section-title">Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul
                    class="list-inline filter-control"
                    role="group"
                    aria-label="Filter Control"
                  >
                    <li class="list-inline-item tab-active" data-filter="*">
                      All
                    </li>
                    <li class="list-inline-item" data-filter=".misc">Misc</li>
					<li class="list-inline-item" data-filter=".web">Web</li>
					<li class="list-inline-item" data-filter=".bot">Bots</li>
					<li class="list-inline-item" data-filter=".game">Games</li>
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
				<PortfolioCards name="UwU++" image="https://github.com/unsignedint64/uwu-lang/blob/main/.github/images/9bbe5701-fe89-4fdb-ab48-eaf52b0265f2.png?raw=true" url="https://github.com/unsignedint64/uwu-lang" type="misc" />
				<PortfolioCards name="Goddess Anime" image="https://repository-images.githubusercontent.com/644882912/10a75031-1970-4239-9382-3eed3234671b" url="https://github.com/LabsStar/goddess-anime" type="bot web" />
				<PortfolioCards name="File Organizer" image="https://repository-images.githubusercontent.com/637266892/9eabef2b-afc5-45c2-bbd6-be33c46c4c66" url="https://git.hylia.dev/file-organizer" type="misc" />
				<PortfolioCards name="Developer Toolkit" image="https://opengraph.githubassets.com/080c6ce5b35732fe7a34e5f86ba8faf67ab0d8fee78b206ace037c85f8126beb/LabsStar/developer-toolkit" url="https://github.com/0xhylia/developer-toolkit" type="misc" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
