---
---

<h1>CW: Explicit Content, Harassment, Doxxing, Animal Abuse / Death</h1>


<p>For the last six months, I have been subjected to online and real-life
harassment. During that time, I served as a staff member on a now-deleted
Discord server named "The Sakura Wall." Unfortunately, the server's owner,
whom I'll refer to as "K," engaged in highly inappropriate behavior. K was
caught sharing explicit 18+ content, including gore, rape material, incest,
and loli content, with three underage members of the server.</p>

<p>Upon discovering this, I confronted K, only to face a barrage of slurs and
threats, including threats to involve law enforcement. Fearing the
consequences, I backed off, apologized, and chose not to revisit the matter.</p>

<p>However, the situation escalated when K and some staff members delved into my
personal life, eventually doxing me. This led to threats, intimidation, and,
disturbingly, even a photo of my dorm room door.</p>

<p>The reason I am addressing this now is due to a recent incident. Two days ago,
I received a call from campus security, asking me to meet with them. Upon
arriving, I found an opened package resembling an Amazon delivery. To my
shock, inside the box was a gruesome sightâ?"a dead cat with its head severed. I
shared the entire sequence of events with school security.</p>

<p>I'm exhausted and distressed by these experiences. My only wish is to be left
alone and to ensure my safety.</p>
