---
---

<h1>CW: Explicit Content, Harassment, Doxxing, Animal Abuse / Death</h1>


<p>For the last six months, I have been subjected to online and real-life harassment.</p>

<p>During that time, I served as a staff member on a now-deleted Discord server named "The Sakura Wall."</p>

<p>Unfortunately, the server's owner, whom I'll refer to as "K," engaged in highly inappropriate behavior.</p>

<p>K was
caught sharing explicit 18+ content, including gore, rape material, incest, and loli content, with three underage members of the server.</p>

<p>Upon discovering this, I confronted K, only to face a barrage of slurs and threats, including threats to involve law enforcement.</p>

<p>Fearing the consequences, I backed off, apologized, and chose not to revisit the matter.</p>

<p>However, the situation escalated when K and some staff members delved into my personal life, eventually doxing me.</p>

<p>This led to threats, intimidation, and, disturbingly, even a photo of my dorm room door.</p>

<p>The reason I am addressing this now is due to a recent incident.</p>

<p>Two days ago, I received a call from campus security, asking me to meet with them.</p>

<p>Upon arriving, I found an opened package resembling an Amazon delivery.</p>

<p>To my shock, inside the box was a gruesome sight—a dead cat with its head severed. </p>

<p>I shared the entire sequence of events with school security.</p>

<p>I'm exhausted and distressed by these experiences.</p>

<p>My only wish is to be left alone and to ensure my safety.</p>
