---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import CTA from "../components/CTA.astro";
---

<Layout
  title="withervt • Projects"
  description="Hello, I’m Stella, a developer specializing in creating Discord bots and open-source tools. Additionally, I identify as a TransFemale, using She/Her pronouns."
>
  <div id="snackbar" class="snackbar d-none"></div>
  <div class="main-content-wrapper">
    <div class="container-fluid">
      <div class="top-bar text-center position-relative">
        <div class="top-bar-inner">
          <a
            class="menu-toggler"
            data-bs-toggle="offcanvas"
            href="#offcanvasNavbar"
            role="button"
            aria-controls="offcanvasNavbar"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              ></path>
            </svg>
          </a>

          <div class="mode-toggle text-center">
            <input class="toggle" id="darkmode" type="checkbox" />
            <label class="toggle-btn mx-auto mb-0" for="darkmode">
              <span class="day-icon toggle-icon">
                <i class="bi bi-sun-fill"></i></span
              >
              <span class="night-icon toggle-icon"
                ><i class="bi bi-moon-fill"></i></span
              >
            </label>
          </div>

          <a class="btn btn-primary top-bar-cta" href="mailto:dev@hylia.dev"
            >Hire Me</a
          >

          <ul class="social-list list-inline mx-auto d-none d-lg-block">
            <Socials
              classes="list-inline-item me-0 me-md-1 me-lg-2"
              allowColors={true}
            />
          </ul>
        </div>
      </div>
      <section class="page-intro-section section has-profile-image mx-auto">
        <div class="profile-holder text-center">
          <img
            class="profile-pic rounded-circle"
            src="https://storage.hylia.dev/images/47033415ef4841d627d49d05058324e8.jpg"
            alt="image"
          />
        </div>
        <div class="intro-holder">
          <h2 class="intro-name text-center">My Projects</h2>
          <div class="profile-intro text-center limit-max-width mx-auto">
            <p class="mb-4">
              I am a developer specializing in creating Discord bots and
              open-source tools.
            </p>
            <div class="text-center mt-4">
              <a class="btn btn-secondary" href="https://chat.hylia.dev"
                >Join the Discord <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-arrow-right-short"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                  ></path>
                </svg></a
              >
            </div>
          </div>
        </div>
      </section>

      <section class="projects-section section mx-auto">
        <div class="row justify-content-center gx-lg-5" id="projects"></div>
      </section>

      <CTA
        title="Hire Me"
        description="Do you want to Hire me for a project?"
        button={{
          text: "Hire Me",
          link: "mailto:dev@hylia.dev",
          icon: "bi bi-envelope",
        }}
      />
    </div>
  </div>
</Layout>

<script is:inline>
const ProjectUrl = "https://storage.hylia.dev/json/projects";

(async () => {
    const projects = await fetch(ProjectUrl).then((res) => res.json());

    projects.forEach((project) => {
        document.getElementById(
            "projects"
        ).innerHTML += `<div class="project-item col-12 col-md-6 col-lg-12 mb-5">
                    <div class="project-item-inner row">
                        <div class="col-12 col-lg-5 col-xl-4">
                            <img class="project-thumb rounded-2 mb-3 mb-lg-0 rounded mx-auto" src="${project.image
            }" alt="image" style="height: 250px; width: 250px;">
                        </div>
                        <div class="col-12 col-lg-7 col-xl-8">
                            <h3 class="title"><a href="${project.url}">${
        project.name
      }</a></h3>
                            <div class="intro mb-3">${project.description}</div>
                            
                            <h4 class="subtitle">Tech Stack:</h4>
                            <ul class="tech-stack list-inline">
                                ${project.icons
                                  .map(
                                    (icon) =>
                                      `<li class="list-inline-item"><img class="rounded" src="${icon}" alt=""></li>`
                                  )
                                  .join("")}
                            </ul>
                            
                            <a class="more-link" href="${
                              project.url
                            }">View Project <span class="link-arrow"><i class="bi bi-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>`;
    });
  })();
</script>
