---

---

<nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
    <!-- Navbar Logo-->
    <img class="img-fluid" src="https://cdn.discordapp.com/attachments/981632133191843852/1030952155181498459/trans.png" alt="Logo"></a>
  <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
  <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
    <!-- Navbar menu-->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
      <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link" href="https://blog.hylia.dev">Blog</a></li>
    </ul>
  </div>
</nav>