---
import HeaderLinks from "./HeaderLinks.astro";
---

<header class="header-area">
  <div class="container">
      <div class="gx-row d-flex align-items-center justify-content-between">
          <a href="/" class="logo">
              <img src="https://avatars.githubusercontent.com/u/93791569" alt="Logo" width="55px" height="55px" style="border-radius: 50%;">
          </a>

          <nav class="navbar">
              <ul class="menu">
                <HeaderLinks
                liClass="nav-link"
                links={[
                  { text: "Home", href: "/" },
                  { text: "Blog", href: "/blog" },
                  { text: "Contact", href: "mailto:withervt@gmail.com" },
                  { text: "Discord", href: "/discord" },
                ]}
              />
              </ul>
              <a href="mailto:withervt@gmail.com" class="theme-btn">Let's talk</a>
          </nav>

          <a href="mailto:withervt@gmail.com" class="theme-btn">Let's talk</a>

          <div class="show-menu">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
</header>

<script is:inline defer>
const navLinks = document.querySelectorAll(".nav-link a"); // Select the anchor tags within the .nav-link elements

function ReplaceTrailingSlash(str) {
  return str.replace(/\/$/, "");
}

for (let i = 0; i < navLinks.length; i++) {
  // Check if the href of the anchor tag is the same as the current url (Remove the trailing slash)
  if (ReplaceTrailingSlash(navLinks[i].href) === ReplaceTrailingSlash(window.location.href)) {
    navLinks[i].parentNode.classList.add("active"); // Add class to the parent li element
  }
}

</script>
