---

interface Link {
    text: string;
    href: string;
}


interface Props {
    liClass?: string;
    aClass?: string;
    links: Link[];
}

const { liClass, aClass, links } = Astro.props;
---

{
    links.map((link) => (
        <li class={`${liClass}`}>
            <a class={`${aClass}`} href={link.href}>{link.text}</a>
        </li>
    ))
}