---
interface Props {
    title: string;
    description: string;
    icon: string;
}

const { title, description, icon } = Astro.props;
---

<div class="col-12 col-md-6 col-lg-4">
    <div class="single-service"><i class=`icon service-icon ${icon}`></i>
      <h6 class="service-title">{title}</h6>
      <p class="service-description">{description}</p>
    </div>
  </div>