---
import Socials from "../Socials.astro";
const LIMIT = 3;
import { fDate, fTime } from "developer-toolkit-utils";

const randomPosts = await Astro.glob("../../pages/blog/posts/*.{md,mdx}");

function RandomPost() {
  const randomPosts_ = randomPosts.slice(0, LIMIT);

  return randomPosts_;
}

const randomPost = RandomPost();

const ads = await fetch("https://storage.hylia.dev/ads.json").then((res) =>
  res.json()
);

const ad = ads[Math.floor(Math.random() * ads.length)];
---

<div class="sidebar">
  <div class="widget rounded">
    <div
      class="widget-about data-bg-image text-center"
      data-bg-image="https://storage.hylia.dev/blog/images/map-bg.png"
    >
      <img
        src="https://storage.hylia.dev/images/47033415ef4841d627d49d05058324e8.jpg"
        alt="logo"
        class="mb-4"
        style="border-radius: 50%; width: 68px;"
      />
      <p class="mb-4">
        I'm a developer and a vtuber based in the United States, I have been
        building and developing software since I was 12 years old. I have gotten
        into the world of vtubing since 2022.
      </p>
      <ul class="social-icons list-unstyled list-inline mb-0">
        <Socials classes="list-inline-item" />
      </ul>
    </div>
  </div>

  <div class="widget rounded d-none" id="table-of-contents">
    <div class="widget-header text-center">
      <h3 class="widget-title" style="color: #fff;">Table of Contents</h3>
      <img
        src="https://storage.hylia.dev/blog/images/wave.svg"
        class="wave"
        alt="wave"
      />
    </div>
    <div class="widget-content" id="toc-wrapper"></div>
  </div>
  <div class="widget rounded">
    <div class="widget-header text-center">
      <h3 class="widget-title" style="color: #fff;">Random Posts</h3>
      <img
        src="https://storage.hylia.dev/blog/images/wave.svg"
        class="wave"
        alt="wave"
      />
    </div>
    <div class="widget-content">
      {
        randomPost.map((post, index) => (
          <div class="post post-list-sm circle">
            <div class="details clearfix">
              <h6 class="post-title my-0">
                <a href={`/blog/post/${post.frontmatter.slug}`} style="color: #fff;">
                  {post.frontmatter.title.slice(0, 20) + (post.frontmatter.title.length > 20 ? "..." : "")}
                </a>
              </h6>
              <ul class="meta list-inline mt-1 mb-0">
                <li class="list-inline-item">
                  {fDate(new Date(post.frontmatter.pubDate))}
                </li>
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>


</div>
