---
import Socials from "../Socials.astro";
const LIMIT = 3;
import { fDate, fTime } from "developer-toolkit-utils";

const randomPosts = await Astro.glob("../../pages/blog/posts/*.{md,mdx}");

function RandomPost() {
  const randomPosts_ = randomPosts.slice(0, LIMIT);

  return randomPosts_;
}

const randomPost = RandomPost();

const ads = await fetch("https://storage.hylia.dev/ads.json").then((res) =>
  res.json()
);

const ad = ads[Math.floor(Math.random() * ads.length)];

/**
 * If if fix ads from overflowing into the footer, this is the code.
 *   <div class="widget rounded">
    <div class="widget-header text-center">
      <h3 class="widget-title" style="color: #fff;">● Sponsored Ad ●</h3>
    </div>
    <div class="widget-content">
      <a href={ad.link} target="_blank" rel="noopener noreferrer nofollow">
        <img src={ad.media} class="img-fluid" alt={ad.name} />
      </a>
    </div>
  </div>
 */
---

<div class="sidebar">
  <div class="widget rounded">
    <div
      class="widget-about data-bg-image text-center"
      data-bg-image="https://storage.hylia.dev/blog/images/map-bg.png"
    >
      <img
        src="https://storage.hylia.dev/images/47033415ef4841d627d49d05058324e8.jpg"
        alt="logo"
        class="mb-4"
        style="border-radius: 50%; width: 68px;"
      />
      <p class="mb-4" id="bio__user">

      </p>
      <ul class="social-icons list-unstyled list-inline mb-0">
        <Socials classes="list-inline-item" allowColors={true} />
      </ul>
    </div>
  </div>

  <div class="widget rounded d-none" id="table-of-contents">
    <div class="widget-header text-center">
      <h3 class="widget-title" style="color: #fff;">Table of Contents</h3>
      <img
        src="https://storage.hylia.dev/blog/images/wave.svg"
        class="wave"
        alt="wave"
      />
    </div>
    <div class="widget-content" id="toc-wrapper"></div>
  </div>

  <!-- <div class="widget rounded">
    <div class="widget-header text-center">
      <h3 class="widget-title" style="color: #fff;">Join the Discord</h3>
    </div>
    <div class="widget-content">
      <a href="https://chat.hylia.dev" target="_blank" rel="noopener noreferrer nofollow">
        <img src="https://github.com/0xhylia/Community-Server-Discord-Bot/blob/master/.github/Images/logo.png?raw=true" class="img-fluid adImage" alt="Discord Server" />
      </a>
    </div>
  </div> -->
</div>

<script is:inline type="text/javascript">
  (async () => {
    const bios = await fetch("https://storage.hylia.dev/bios.json").then((res) => res.json());

    const bio = bios[Math.floor(Math.random() * bios.length)];

    document.getElementById("bio__user").innerHTML = bio;
  })();
</script>

<style>
  .adImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
</style>
