---
import Header from "../components/Blog/BlogHeader.astro";
import Footer from "../components/Blog/BlogFooter.astro";
interface Props {
  title: string;
  description?:
    | string
    | "Hello, I'm Stella, a developer specializing in creating Discord bots and open-source solutions at Hyperstar. Additionally, I identify as a TransFemale, using She/Her pronouns.";
  img?: string;
  isPost?: boolean;
}

const { title, description, img, isPost } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://avatars.githubusercontent.com/u/93791569"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="char32" />
    <meta property="og:title" content="char32" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={img || "https://storage.hylia.dev/images/default_banner.jpg"}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="color-scheme" content="dark light" />
    <meta name="twitter:site" content="char32" />
    <meta name="twitter:creator" content="char32vt" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <meta
      name="keywords"
      content="hylia, Hylia, Developer, char32, char32, transgender, x, twitter, anime, blog, Virtual YouTuber, Streaming, Virtual persona, 2D avatar, Live chat interaction, Virtual world, Kawaii, Virtual reality, Twitch, Hololive, Software development, Coding, Programming languages, GitHub, Code repositories, Open-source projects, Web development, App development, API integration, Debugging, Gaming, Esports, Twitch streamer, Let's Plays, Gaming hardware, Console gaming, PC gaming, Game reviews, Online multiplayer, Gaming community"
    />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E85TLW0B9F"
    ></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9106548277815950"
     crossorigin="anonymous"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E85TLW0B9F");
    </script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://storage.hylia.dev/blog/css/style.css"
    />
    <link
      rel="stylesheet"
      href="https://storage.hylia.dev/css/icons.css"
    />
    <link
      rel="stylesheet"
      href="https://storage.hylia.dev/blog/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://storage.hylia.dev/blog/css/slick.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <script is:inline async src="https://storage.hylia.dev/blog/js/main.js"
    ></script>
    <script
      is:inline
      src="https://storage.hylia.dev/blog/js/bootstrap.min.js"
    ></script>
    <script
      is:inline
      async
      src="https://storage.hylia.dev/blog/js/popper.min.js"
    ></script>
    <script is:inline src="https://storage.hylia.dev/blog/js/jquery.min.js"
    ></script>
    <script
      is:inline
      async
      src="https://storage.hylia.dev/blog/js/jquery.sticky-sidebar.min.js"
    ></script>
    <script is:inline async src="https://storage.hylia.dev/blog/js/slick.min.js"
    ></script>
  </head>
  <body>
    <div id="preloader">
      <div class="book">
        <div class="inner">
          <div class="left"></div>
          <div class="middle"></div>
          <div class="right"></div>
        </div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="site-wrapper">
      <div class="main-overlay"></div>
      <Header isPost={isPost} />
      <slot />
      <Footer />
    </div>

    <style>
      :root {
        color-scheme: light dark;
        --background-color: #ffffff; /* Default light mode background color */
        --text-color: #333333; /* Default light mode text color */
      }

      .blog_title {
        color: var(--text-color);
      }

      /* Dark Mode */
      @media (prefers-color-scheme: dark) {
        :root {
          --background-color: #333333; /* Dark mode background color */
          --text-color: #ffffff; /* Dark mode text color */
        }

        /* Style specific elements with dark backgrounds or text in dark mode */
        .dark-background {
          background-color: #222222; /* Dark background color in dark mode */
          color: #ffffff; /* White text color in dark mode */
        }
      }

      body {
        background-color: var(--background-color);
        color: var(--text-color);
      }
    </style>

    <script is:inline>
      // ERROR HANDLING
      try {
        $(document).ready(function () {
          $("body").addClass("loaded");
        });
      } catch (error) {
        window.location.reload();
      }
      const toastLiveExample = document.getElementById("liveToast");
      const toastBootstrap = new bootstrap.Toast(toastLiveExample);
      toastBootstrap.show();
    </script>
  </body>
</html>
