---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?:
    | string
    | "Hello, I'm Stella, a developer specializing in creating Discord bots and open-source tools. Additionally, I identify as a TransFemale, using She/Her pronouns.";
  img?: string;
}

const { title, description, img } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://avatars.githubusercontent.com/u/93791569"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="withervt" />
    <meta property="og:title" content="withervt" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={img || "https://storage.hylia.dev/images/default_banner.jpg"}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="withervt" />
    <meta name="twitter:creator" content="withervt" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <meta
      name="keywords"
      content="hylia, Hylia, Developer, withervt, withervt, transgender, x, twitter, anime, blog, Virtual YouTuber, Streaming, Virtual persona, 2D avatar, Live chat interaction, Virtual world, Kawaii, Virtual reality, Twitch, Hololive, Software development, Coding, Programming languages, GitHub, Code repositories, Open-source projects, Web development, App development, API integration, Debugging, Gaming, Esports, Twitch streamer, Let's Plays, Gaming hardware, Console gaming, PC gaming, Game reviews, Online multiplayer, Gaming community"
    />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E85TLW0B9F"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9106548277815950"
      crossorigin="anonymous"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E85TLW0B9F");
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"
    />

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="/static/css/style.css" />

    <script is:inline src="/static/js/jquery-3.6.4.js"></script>
    <script is:inline src="/static/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/static/js/aos.js"></script>
    <script is:inline src="/static/js/main.js"></script>
  </head>
  <body>
    
    <noscript>
      <div class="nojs">
        <p>
          This website requires JavaScript. Please enable JavaScript in your
          browser.
        </p>
      </div>
    </noscript>
    <main class="main-homepage">
      <Header />
      <slot />
    </main>

    <script is:inline>
      setTimeout(() => {
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
      }, 2000);
    </script>

    <script is:inline>
      function openLink(url) {
        window.open(url, "_blank");
      }

      const dataOnclick = document.querySelectorAll("[data-onclick]");

      for (let i = 0; i < dataOnclick.length; i++) {
        dataOnclick[i].addEventListener("click", (e) => {
          e.preventDefault();
          openLink(dataOnclick[i].getAttribute("data-onclick"));
        });
      }
    </script>
    <script is:inline>
      document.addEventListener("contextmenu", function (e) {
        e.preventDefault();
        alert("Right-click is disabled");
      });
    </script>
    <Footer />
  </body>
</html>
